mixin banner
    div.banner
        div.left-banner
            div.crumbs
                a(class="href-crumbs", href="href")= "All categories"
                a(class="href-crumbs")= " / "
                a(class="href-crumbs", href="href")= "Woman"
                a(class="href-crumbs")= " / "
                a(class="href-crumbs href-crumbs-active", href="href")= "Jackets"

            span.name= "Denim Collection Fall 2019"
        div.right-banner
            img(class="logo logos" src="../static/img/Rectangle_2.png")
            img(class="logo1 logos" src="../static/img/diagonal1.png")
            img(class="logo2 logos" src="../static/img/diagonal2.png")
