mixin banner
    div.banner
        div.banner__left
            div.crumbs
                a(class="crumbs__href", href="href")= "All categories"
                a(class="crumbs__href")= " / "
                a(class="crumbs__href", href="href")= "Woman"
                a(class="crumbs__href")= " / "
                a(class="crumbs__href crumbs__href_active", href="href")= "Jackets"

            span.name= "Denim Collection Fall 2019"
        div.banner__right
            img(class="logo" src="img/Rectangle_2.png")
            img(class="logo__background_left" src="img/diagonal1.png")
            img(class="logo__background_right" src="img/diagonal2.png")
